<%= form_with(model: user, local: true, class: 'NewUserForm') do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="fieldItem">
      <%= form.label :email, 'Email Address:' %>
    </div>
    <div class="fieldItem">
      <%= form.text_field :email, class: 'inputField' %>
    </div>
  </div>

  <div class="field">
    <div class="fieldItem">
      <%= form.label :password, 'Password:' %>
    </div>
    <div class="fieldItem">
      <%= form.password_field :password, class: 'inputField' %>
    </div>
  </div>

  <div class="field">
    <div class="fieldItem">
      <%= form.label :password_confirmation, 'Password Confirmation:' %>
      
    </div>
    <div class="fieldItem">
      <%= form.password_field :password_confirmation, class: 'inputField' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit 'Create Account', :class => 'navBTN', :method => 'post' %>
  </div>
<% end %>
