<%= form_with(model: to_do, local: true, class: 'NewItemForm') do |form| %>

  <% if to_do.errors.any? %>
    <div id="error_explanation" class='createItemError'>
      <h2><%= pluralize(to_do.errors.count, "error") %> prevented the new item from being created:</h2>

      <ul>
        <% to_do.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="fieldItem">
      <%= form.label :toDoItem, 'Item Name:' %>
    </div>
    <div class="fieldItem">
      <%= form.text_field :toDoItem, class: 'inputField' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit 'Create Item', :class => 'navBTN', :method => 'post'  %>
  </div>
<% end %>
