<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "main.css" %>
    <%= stylesheet_link_tag "dashboard.css" %>
    <%= stylesheet_link_tag "home.css" %>
  </head>
  <body>
    <% if current_user %>
      <div class='header'>
        <div class="left">
          <h2>Todo List</h2>
        </div>
        <div class="right">
          <p>Logged in as <%= current_user.email %>.</p>
          <%= button_to "Log Out", logout_path, method: :get, :class => "logoutBTN" %>
        </div>
      </div>
      <div class='content'>
        <div class='toDoListCont'>
          <h1>Todo List</h1>

          <table class='toDoTable'>
            <thead>
              <tr>
                <th class="tableItem heading">Item</th>
                <th class="tableItem heading">Complete</th>
                <th class="tableItem heading" colspan="2"></th>
              </tr>
            </thead>

            <tbody>
              <% @to_dos.each do |to_do| %>
                <tr>
                  <td class="tableItem"><%= to_do.toDoItem %></td>
                  <td class="tableItem">
                    <% if to_do.complete == '1' %>
                      Yes
                    <% else %>
                      No
                    <% end %>
                  </td>
                  <td class="tableItem"><%= button_to 'Edit', edit_to_do_path(to_do), method: :get, :class => "listBTN" %></td>
                  <td class="tableItem"><%= button_to 'Delete', to_do, method: :delete, :class => "listBTN", data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <br>

          <%= button_to 'New Item', newItem_path, method: :get, :class =>"navBTN" %>
        </div>
      </div>
    <% else %>
      <div class='header'>
        <div class="left">
          <h2>Todo List</h2>
        </div>
        <div class="right"></div>
      </div>
      <div class='content'>
        <div class='buttons'>
          <%= button_to "Sign Up", signup_path, method: :get, :class => 'appBTNs' %>
          <%= button_to "Log In", login_path, method: :get, :class => 'appBTNs' %>
        </div>
      </div>
    <% end %>
  </body>
</html>




